# AutoEncoders

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

## Importing the dataset

In [4]:
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [5]:
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [6]:
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [7]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

## Preparing the training set and the test set

In [8]:
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int')
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

## Getting the number of users and movies

In [9]:
nb_users = int(max(max(training_set[:, 0], ), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1], ), max(test_set[:, 1])))

## Converting the data into an array with users in lines and movies in columns

In [10]:
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:, 1] [data[:, 0] == id_users]
    id_ratings = data[:, 2] [data[:, 0] == id_users]
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data
training_set = convert(training_set)
test_set = convert(test_set)

## Converting the data into Torch tensors

In [11]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

## Creating the architecture of the Neural Network

In [12]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

## Training the SAE

In [13]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = input.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+'loss: '+ str(train_loss/s))

epoch: 1loss: tensor(1.7718)
epoch: 2loss: tensor(1.0967)
epoch: 3loss: tensor(1.0534)
epoch: 4loss: tensor(1.0381)
epoch: 5loss: tensor(1.0310)
epoch: 6loss: tensor(1.0268)
epoch: 7loss: tensor(1.0238)
epoch: 8loss: tensor(1.0220)
epoch: 9loss: tensor(1.0208)
epoch: 10loss: tensor(1.0197)
epoch: 11loss: tensor(1.0192)
epoch: 12loss: tensor(1.0182)
epoch: 13loss: tensor(1.0180)
epoch: 14loss: tensor(1.0174)
epoch: 15loss: tensor(1.0174)
epoch: 16loss: tensor(1.0168)
epoch: 17loss: tensor(1.0167)
epoch: 18loss: tensor(1.0165)
epoch: 19loss: tensor(1.0163)
epoch: 20loss: tensor(1.0161)
epoch: 21loss: tensor(1.0161)
epoch: 22loss: tensor(1.0155)
epoch: 23loss: tensor(1.0160)
epoch: 24loss: tensor(1.0158)
epoch: 25loss: tensor(1.0159)
epoch: 26loss: tensor(1.0158)
epoch: 27loss: tensor(1.0152)
epoch: 28loss: tensor(1.0152)
epoch: 29loss: tensor(1.0125)
epoch: 30loss: tensor(1.0118)
epoch: 31loss: tensor(1.0098)
epoch: 32loss: tensor(1.0098)
epoch: 33loss: tensor(1.0059)
epoch: 34loss: tensor(1.0066)
epoch: 35loss: tensor(1.0016)
epoch: 36loss: tensor(1.0000)
epoch: 37loss: tensor(0.9972)
epoch: 38loss: tensor(0.9976)
epoch: 39loss: tensor(0.9948)
epoch: 40loss: tensor(0.9929)
epoch: 41loss: tensor(0.9902)
epoch: 42loss: tensor(0.9888)
epoch: 43loss: tensor(0.9873)
epoch: 44loss: tensor(0.9909)
epoch: 45loss: tensor(0.9866)
epoch: 46loss: tensor(0.9851)
epoch: 47loss: tensor(0.9807)
epoch: 48loss: tensor(0.9791)
epoch: 49loss: tensor(0.9764)
epoch: 50loss: tensor(0.9770)
epoch: 51loss: tensor(0.9730)
epoch: 52loss: tensor(0.9727)
epoch: 53loss: tensor(0.9679)
epoch: 54loss: tensor(0.9688)
epoch: 55loss: tensor(0.9655)
epoch: 56loss: tensor(0.9663)
epoch: 57loss: tensor(0.9657)
epoch: 58loss: tensor(0.9662)
epoch: 59loss: tensor(0.9643)
epoch: 60loss: tensor(0.9644)
epoch: 61loss: tensor(0.9656)
epoch: 62loss: tensor(0.9658)
epoch: 63loss: tensor(0.9627)
epoch: 64loss: tensor(0.9635)
epoch: 65loss: tensor(0.9569)
epoch: 66loss: tensor(0.9621)
epoch: 67loss: tensor(0.9602)
epoch: 68loss: tensor(0.9574)
epoch: 69loss: tensor(0.9543)
epoch: 70loss: tensor(0.9541)
epoch: 71loss: tensor(0.9533)
epoch: 72loss: tensor(0.9549)
epoch: 73loss: tensor(0.9495)
epoch: 74loss: tensor(0.9502)
epoch: 75loss: tensor(0.9484)
epoch: 76loss: tensor(0.9485)
epoch: 77loss: tensor(0.9455)
epoch: 78loss: tensor(0.9469)
epoch: 79loss: tensor(0.9455)
epoch: 80loss: tensor(0.9460)
epoch: 81loss: tensor(0.9426)
epoch: 82loss: tensor(0.9435)
epoch: 83loss: tensor(0.9416)
epoch: 84loss: tensor(0.9431)
epoch: 85loss: tensor(0.9403)
epoch: 86loss: tensor(0.9410)
epoch: 87loss: tensor(0.9390)
epoch: 88loss: tensor(0.9393)
epoch: 89loss: tensor(0.9386)
epoch: 90loss: tensor(0.9381)
epoch: 91loss: tensor(0.9370)
epoch: 92loss: tensor(0.9393)
epoch: 93loss: tensor(0.9386)
epoch: 94loss: tensor(0.9362)
epoch: 95loss: tensor(0.9353)
epoch: 96loss: tensor(0.9358)
epoch: 97loss: tensor(0.9341)
epoch: 98loss: tensor(0.9348)
epoch: 99loss: tensor(0.9333)
epoch: 100loss: tensor(0.9340)
epoch: 101loss: tensor(0.9328)
epoch: 102loss: tensor(0.9334)
epoch: 103loss: tensor(0.9322)
epoch: 104loss: tensor(0.9325)
epoch: 105loss: tensor(0.9317)
epoch: 106loss: tensor(0.9317)
epoch: 107loss: tensor(0.9306)
epoch: 108loss: tensor(0.9310)
epoch: 109loss: tensor(0.9300)
epoch: 110loss: tensor(0.9306)
epoch: 111loss: tensor(0.9299)
epoch: 112loss: tensor(0.9298)
epoch: 113loss: tensor(0.9291)
epoch: 114loss: tensor(0.9289)
epoch: 115loss: tensor(0.9279)
epoch: 116loss: tensor(0.9280)
epoch: 117loss: tensor(0.9278)
epoch: 118loss: tensor(0.9278)
epoch: 119loss: tensor(0.9271)
epoch: 120loss: tensor(0.9271)
epoch: 121loss: tensor(0.9266)
epoch: 122loss: tensor(0.9266)
epoch: 123loss: tensor(0.9259)
epoch: 124loss: tensor(0.9257)
epoch: 125loss: tensor(0.9251)
epoch: 126loss: tensor(0.9252)
epoch: 127loss: tensor(0.9246)
epoch: 128loss: tensor(0.9248)
epoch: 129loss: tensor(0.9246)
epoch: 130loss: tensor(0.9243)
epoch: 131loss: tensor(0.9236)
epoch: 132loss: tensor(0.9235)
epoch: 133loss: tensor(0.9230)
epoch: 134loss: tensor(0.9230)
epoch: 135loss: tensor(0.9227)
epoch: 136loss: tensor(0.9227)
epoch: 137loss: tensor(0.9220)
epoch: 138loss: tensor(0.9220)
epoch: 139loss: tensor(0.9215)
epoch: 140loss: tensor(0.9216)
epoch: 141loss: tensor(0.9209)
epoch: 142loss: tensor(0.9212)
epoch: 143loss: tensor(0.9207)
epoch: 144loss: tensor(0.9209)
epoch: 145loss: tensor(0.9204)
epoch: 146loss: tensor(0.9203)
epoch: 147loss: tensor(0.9197)
epoch: 148loss: tensor(0.9200)
epoch: 149loss: tensor(0.9191)
epoch: 150loss: tensor(0.9195)
epoch: 151loss: tensor(0.9190)
epoch: 152loss: tensor(0.9191)
epoch: 153loss: tensor(0.9184)
epoch: 154loss: tensor(0.9188)
epoch: 155loss: tensor(0.9179)
epoch: 156loss: tensor(0.9184)
epoch: 157loss: tensor(0.9173)
epoch: 158loss: tensor(0.9180)
epoch: 159loss: tensor(0.9171)
epoch: 160loss: tensor(0.9177)
epoch: 161loss: tensor(0.9167)
epoch: 162loss: tensor(0.9175)
epoch: 163loss: tensor(0.9163)
epoch: 164loss: tensor(0.9170)
epoch: 165loss: tensor(0.9163)
epoch: 166loss: tensor(0.9166)
epoch: 167loss: tensor(0.9162)
epoch: 168loss: tensor(0.9165)
epoch: 169loss: tensor(0.9157)
epoch: 170loss: tensor(0.9161)
epoch: 171loss: tensor(0.9153)
epoch: 172loss: tensor(0.9157)
epoch: 173loss: tensor(0.9150)
epoch: 174loss: tensor(0.9155)
epoch: 175loss: tensor(0.9146)
epoch: 176loss: tensor(0.9152)
epoch: 177loss: tensor(0.9142)
epoch: 178loss: tensor(0.9146)
epoch: 179loss: tensor(0.9140)
epoch: 180loss: tensor(0.9145)
epoch: 181loss: tensor(0.9136)
epoch: 182loss: tensor(0.9144)
epoch: 183loss: tensor(0.9137)
epoch: 184loss: tensor(0.9139)
epoch: 185loss: tensor(0.9133)
epoch: 186loss: tensor(0.9136)
epoch: 187loss: tensor(0.9131)
epoch: 188loss: tensor(0.9134)
epoch: 189loss: tensor(0.9128)
epoch: 190loss: tensor(0.9131)
epoch: 191loss: tensor(0.9126)
epoch: 192loss: tensor(0.9130)
epoch: 193loss: tensor(0.9124)
epoch: 194loss: tensor(0.9128)
epoch: 195loss: tensor(0.9120)
epoch: 196loss: tensor(0.9125)
epoch: 197loss: tensor(0.9119)
epoch: 198loss: tensor(0.9124)
epoch: 199loss: tensor(0.9117)
epoch: 200loss: tensor(0.9120)

## Testing the SAE

In [14]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
    output = sae(input)
    target.require_grad = False
    output[target == 0] = 0
    loss = criterion(output, target)
    mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
    test_loss += np.sqrt(loss.data*mean_corrector)
    s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9483)